.row {
  margin-left: 20px;
  color: #fff;

  .row-posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;

    .row-poster {
      width: 100%;
      object-fit: contain;
      max-height: 100px;
      transition: transform 0.35s;
      margin-right: 10px;
      cursor: pointer;
    }

    .row-poster-large {
      max-height: 250px;
    }
  }
}

.row-poster:hover {
  transform: scale(1.08);
}

.row-posters::-webkit-scrollbar {
  display: none;
}

.row-poster-large:hover {
  transform: scale(1.09);
}

.trailer-wrapper {
  width: 100vw;
  position: relative;
  display: flex;

  .movie-details {
    margin-left: 2.5rem;
    width: 35%;
  }

  span {
    font-weight: 300;
    color: #ccc;
    margin-inline: 0.5rem !important;
  }

  h1 {
    margin-block: 0rem;
  }

  h1 a {
    text-decoration: none;
    color: #fff;
  }

  h1 a:hover {
    text-decoration: underline;
  }

  .runtime-votes {
    margin-left: 1rem;

    span {
      font-weight: unset;
      color: #ccc;
      padding-inline: 15px;
      padding-bottom: 3px;
      border-right: 1px solid #ccc;
      margin-inline: unset !important;
    }

    span:last-of-type {
      border: none;
    }
  }
}

@media screen and (max-width: 500px) {
  .trailer-wrapper {
    flex-direction: column !important;
    height: auto;
    margin-block: .5rem 1rem;
    
    .movie-details {
      width: 80%;
      margin-left: 1rem;
    }
  }
}
